@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
  font-family: 'Digital';
  src: url('fonts/digital/digital-7 (mono).ttf');
}

.field-output {
  font-family: 'Digital';
  font-size: 3em;
  text-align: right;
}

.field-input {
  font-family: 'Montserrat';
  font-size: 2em;
  text-align: left;
}

body {
  font-family: 'Noto Sans';
  font-weight: bold;
  font-size: 1em;
}

.btn {
  color: #2c3e50;
  line-height: 50px;
  text-align: center;
}

.operation, .function {
    color: #ece6d6;
}
